.App {
  font-family: sans-serif;
  padding: 20px;
}

.card-body-stars {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 6px;
}

.u-clearfix::after {
  content: "";
  display: block;
  clear: both;
}

li {
  display: inline-block;
}
